@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* Layout widths */
.w-sidebar {
    width: 750px;
}

@variants hover, focus {
    .bg-oBlue {
        background-color: #ECF0F6;
    }
    .bg-oLight {
        background-color: #3B4E51;
    }
    .bg-oDark {
        background-color: #20282E;
    }
    .bg-oSelect {
        background-color: #323D44;
    }
    .text-oSelect {
        color: #3B4E51;
    }
}

.center, .centerX, .centerY {
    display: flex;
    justify-content: center,
}
.centerX {
    display: flex;
    justify-content: center;
}
.centerY {
    align-items: center;
}

.box-border {
    box-sizing: border-box;
}
.justify-evenly {
    justify-content: space-evenly;
}
.h-1\/2 {
    height: 50%;
}

.colorSvg {
    filter: invert(50%) sepia(0%) saturate(1195%) hue-rotate(147deg) brightness(97%) contrast(84%);
}